.idea/
*.iml

keepass-node-config.js

coverage/
coverage-frontend/

node_modules/
npm-debug.log

certs/*
!certs/.gitkeep

local/*
!local/.gitkeep
!local/example.kdbx
!local/example.raw.json
!local/example.kdbx.txt
.DS_Store
