<md-dialog aria-label="Create a new KeePass entry" class="create-entry">
    <md-content class="dialog-content">

        <md-subheader class="sticky-no-effect">New entry in group <b>{{parent.Name}}</b></md-subheader>
        <div layout="column">
            <md-text-float label="Title" ng-model="entry.Title"></md-text-float>
            <md-text-float label="URL" ng-model="entry.URL"></md-text-float>
            <md-text-float label="UserName" ng-model="entry.UserName"></md-text-float>
            <md-text-float label="Password" ng-model="entry.Password" type="password"></md-text-float>
            <md-text-float label="Notes" ng-model="entry.Notes"></md-text-float>
        </div>
    </md-content>

    <div class="dialog-actions" layout="row" layout-align="end">
        <md-button ng-click="cancel()" class="md-raised md-primary" md-theme="red" md-warn>
            Cancel
        </md-button>
        <md-button ng-click="save()" class="md-raised md-primary" md-theme="green" md-raised>
            Save
        </md-button>
    </div>
</md-dialog>
