<div class="kdbxEntries">
    <!--<div class="row">-->
    <!--<div class="col-xs-9">-->
    <!--<form class="form-horizontal" role="form">-->
    <!--<div class="form-group">-->
    <!--<label for="entryFilter" class="col-sm-2 control-label">Search</label>-->

    <!--<div class="col-sm-10">-->
    <!--<input ng-model="searchText"-->
    <!--type="text" id="entryFilter"-->
    <!--class="form-control" placeholder="Search..."/>-->
    <!--</div>-->
    <!--</div>-->
    <!--</form>-->
    <!--</div>-->
    <!--</div>-->

    <div class="row">
        <div class="col-xs-12">
            <div class="panel-group">
                <!--<div class="panel panel-default" ng-repeat="entry in kdbxEntries | filter:{title:searchText}">-->
                <div class="panel panel-default" ng-repeat="entry in kdbxEntries">
                    <kdbx-entry kdbx-entry="entry" kdbx-entry-index="$index"></kdbx-entry>
                </div>
            </div>
        </div>
    </div>
</div>
