<div class="kdbxEntry">
    <div class="panel-heading">
        <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{kdbxEntryIndex}}">{{getTitle()}}</a>
        </h4>
    </div>
    <div id="collapse{{kdbxEntryIndex}}" class="panel-collapse collapse">
        <div class="panel-body">
            <dl class="dl-horizontal">
                <dt>Title</dt>
                <dd>{{getTitle()}}</dd>
                <dt>URL</dt>
                <dd><a ng-href="{{getURL()}}" target="_blank">{{getURL()}}</a></dd>
                <dt>UserName</dt>
                <dd>{{getUserName()}}</dd>
                <dt>Password</dt>
                <dd>
                    <button type="button"
                            class="btn btn-default btn-sm copy-password-btn"
                            data-clipboard-text="{{getPassword()}}">
                        <span class="glyphicon glyphicon-share"></span>
                    </button>
                    <button type="button"
                            class="btn btn-default btn-sm"
                            ng-click="showPassword = !showPassword">
                        <span class="glyphicon" ng-class="showPassword ? 'glyphicon-eye-close' : 'glyphicon-eye-open'"></span>
                    </button>
                    <input ng-readonly="true" ng-show="showPassword"
                           style="display: inline-block;"
                           ng-value="getPassword()"/>
                    <!--<div tabindex="0" ng-show="showPassword" style="display: inline-block;">{{getPassword()}}</div>-->
                </dd>
                <dt>Notes</dt>
                <dd>{{getNotes()}}</dd>
            </dl>
        </div>
    </div>
</div>
