<!DOCTYPE html>
<html>
<head>
    <title>KeePass 2 Manager</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%#contextPath%>
    <base href="<% contextPath %>">
    <script>
        window.contextPath = "<% contextPath %>";
    </script>
    <%/contextPath%>
    <%^contextPath%>
    <base href="/">
    <script>
        window.contextPath = "/";
    </script>
    <%/contextPath%>
    <link rel="stylesheet" type="text/css" href="js/lib/angular-material/angular-material.min.css"/>
    <link rel="stylesheet" type="text/css" href="js/lib/angular-material/themes/green-theme.css">
    <link rel="stylesheet" type="text/css" href="js/lib/angular-material/themes/red-theme.css">
    <link rel="stylesheet" type="text/css" href="js/lib/treeview/css/angular.treeview.css">
    <link rel="stylesheet" type="text/css" href="css/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">

    <!--
        <script type="text/javascript">
            less = {
                env: "production"
            };
        </script>
        <script src="js/lib/less/less-1.7.5.min.js" type="text/javascript"></script>
    -->
    <script src="js/lib/underscore/underscore-min.js" type="text/javascript"></script>
    <script src="js/lib/jquery/jquery-1.11.1.min.js"></script>
    <script src="js/lib/angular/angular.min.js"></script>
    <script src="js/lib/angular/angular-animate.min.js"></script>
    <script src="js/lib/angular/angular-aria.min.js"></script>
    <script src="js/lib/hammerjs/hammer.min.js"></script>
    <script src="js/lib/angular-material/angular-material.min.js"></script>
    <script src="js/lib/angular-jwt/angular-jwt.min.js" type="text/javascript"></script>
    <script src="js/lib/treeview/angular.treeview.min.js" type="text/javascript"></script>
    <script src="js/lib/clipboard/clipboard.min.js" type="text/javascript"></script>

    <script src="js/app/uuid.js" type="text/javascript"></script>
    <script src="js/app/jwt.js" type="text/javascript"></script>
    <script src="js/app/init.js" type="text/javascript"></script>
    <script src="js/app/toast.js" type="text/javascript"></script>
    <script src="js/app/dialog.js" type="text/javascript"></script>
    <script src="js/app/keepass-backend.js" type="text/javascript"></script>
    <script src="js/app/keepass-entries.js" type="text/javascript"></script>
    <script src="js/app/keepass-entry.js" type="text/javascript"></script>
    <script src="js/app/keepass-entry-transformer.js" type="text/javascript"></script>
    <script src="js/app/keepass.js" type="text/javascript"></script>
</head>
<body>
<div ng-app="keepass" layout-padding>
    <div ng-controller="keepassManager" layout="column" layout-fill layout-align="space-around" class="">
        <header>
            <h1>KeePass 2 Manager</h1>
        </header>

        <div flex layout="row" layout-phone="column" layout-padding>

            <aside flex-sm="33" flex-md="20">
                <p ng-show="loading">loading databases...
                    <md-progress-linear mode="indeterminate"></md-progress-linear>
                </p>

                <form role="form" ng-submit="loadEntries()" ng-show="!loading">
                    <md-input-group>
                        <p>Select database</p>

                        <md-radio-group ng-model="selectedDb" id="databases">
                            <md-radio-button ng-repeat="db in databases" ng-value="db" aria-label="{{ db }}">
                                {{ db }}
                            </md-radio-button>
                        </md-radio-group>
                    </md-input-group>

                    <md-input-group ng-disabled="!selectedDb">
                        <label for="dbPassword">Password</label>
                        <md-input id="dbPassword" ng-model="dbPassword" type="password"></md-input>
                    </md-input-group>

                    <md-button class="md-raised" ng-click="loadGroups()">
                        load database
                    </md-button>
                </form>

                <div ng-show="groupsTree">
                    <div layout="horizontal">
                        <div ng-show="kdbxTree.currentNode.UUID">
                            <md-button class="md-raised"
                                       ng-click="createGroup($event)">
                                add group
                            </md-button>
                        </div>

                        <div ng-show="kdbxTree.currentNode.UUID">
                            <md-button class="md-raised"
                                       ng-click="createEntry($event)">
                                add entry
                            </md-button>
                        </div>
                    </div>

                    <div data-angular-treeview="true"
                         data-tree-id="kdbxTree"
                         data-tree-model="groupsTree"
                         data-node-id="UUID"
                         data-node-label="Name"
                         data-node-children="Groups">
                    </div>
                </div>
            </aside>

            <main flex>
                <md-content scroll-y flex>
                    <!--<md-tabs>-->
                    <!--<md-tab label="Tab #1"></md-tab>-->
                    <!--<md-tab label="Tab #2"></md-tab>-->
                    <!--<md-tab label="Tab #3"></md-tab>-->
                    <!--<md-tabs></md-tabs>-->
                    <!--</md-tabs>-->

                    <kdbx-entry-list ng-show="groupEntries" kdbx-entries="groupEntries"></kdbx-entry-list>
                </md-content>
            </main>
        </div>

        <footer>
            <div ng-show="message">
                <p>{{ message }}
                    <md-progress-linear mode="indeterminate"></md-progress-linear>
                </p>
            </div>
        </footer>
    </div>
</div>
</body>
</html>
